@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Efficient worker</h2>
        <ul>
            <li>
                An Effective worker is a simple application for demonstrating work of 
                Entity Framework Core in an ASP.NET Core Razor Pages web app.
            </li>
        </ul>
    </div>
</div>
